@import "styles/variaveis";
@import "styles/breakpoints";

.body{
  background-color: $dark;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $dark;
  padding: 5px;
  &__email {
  color: $light-bg;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 12px;
  font-size: 1.5rem;
  }
  img {
    height: 15vh;
    width: 35vw;
    margin-left: -4vw;
  }
}

.header {
  align-items: center;
  background-color: $red;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 300px;
  padding: 0px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 0px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-horizontal-md;
  }
  &__text {
    text-align: center;
    color: #fafafa;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}

.cardapio {
  margin: 0;
  padding: 10px;
  @media (max-width: $desktop_xsm) {
    padding: 10px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 10px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 10px $padding-horizontal-md;
  }
  &__titulo {
    color: $light-bg;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}
